<h1>Candles</h1>


<div *ngFor="let candle of candleList" class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="{{candle.imageUrl}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{candle.itemName}}</h5>
                <button routerLink='["/product"]' type=“button”>View</button>

            </div>
            <div class="card-footer">
                <small class="text-body-secondary">${{candle.price}}</small>

            </div>
        </div>
    </div>
   

  

</div>