<div class="container text-center">
    <div class="row">
      <div class="col">
        <img src="../../assets/about page photo.avif" alt="about page photo" width="500px" height="730px">
      </div>
      <div class="col">
        <h1>About Washington Candles</h1>
        <br><br>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Maecenas venenatis magna id ante rhoncus placerat. 
            Pellentesque ac mauris condimentum, mollis ipsum at, commodo urna. 
            Pellentesque scelerisque mauris at nibh tincidunt mattis. 
            Aenean varius nisi arcu, eget elementum eros elementum eget. 
            Nullam ultrices semper orci, quis bibendum eros rhoncus volutpat. 
            Suspendisse potenti. Sed sem ex, feugiat at eleifend nec, scelerisque in velit. 
            Duis eget euismod libero. Sed vitae rhoncus libero, sed fringilla lacus. 
            Ut commodo arcu vel vestibulum efficitur. In hac habitasse platea dictumst. 
            Cras sed augue id ipsum maximus elementum finibus vel est. 
            Mauris a odio fermentum, imperdiet nisi ut, dignissim lectus. 
            Aliquam lacinia massa quis risus lobortis, mattis sagittis purus lobortis.
        </p>
      </div>
    </div>
</div>
