

<mat-grid-list cols="3" rowHeight="700px">
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title class="card-title">Sweet Cake Candle</mat-card-title>
                <mat-card-subtitle class="subtitle">The sweetest of the sweetest</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/sweet cake candle.avif" alt="sweetcake candle" width="400px">
            <mat-card-content>
                <p>
                    Hi, im sweet
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title class="card-title">Hello Spring</mat-card-title>
                <mat-card-subtitle class="subtitle">Its spring time</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/spring candle 2.avif" alt="spring candle" width="400px"
                height="275px">
            <mat-card-content>
                <p>
                    Hi, im spring
                </p>
            </mat-card-content>

        </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>

                <mat-card-title class="card-title">Lil' Flickers</mat-card-title>
                <mat-card-subtitle class="subtitle">Bright light in a little canvas</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/little flickers 2.avif" alt="lil flickers" width="400px"
                height="280px">
            <mat-card-content>
                <p>
                    Hi, i flicker
                </p>
            </mat-card-content>

        </mat-card>
    </mat-grid-tile>



</mat-grid-list>

