.example-card {
    max-width: 300px;
    margin: 25px;
}

.card-title {
    margin: 3px;
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Libre Baskerville', serif;
    
}

.subtitle {
    margin: 3px;
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Playpen Sans', cursive;
}

img {
  object-fit: cover;
}

#home{
    margin: 50px;
    margin-bottom: 10px;
}
