<mat-toolbar>
  <img src="../../../../assets/logo-color.png" alt="companylogo" width="65px">
  <div class="title">
    <span><strong>Washington Candles</strong></span>
  </div>
  <span class="example-spacer"></span>
  <p><a routerLink="home"
      class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Home</a></p>
  <p><a routerLink="about"
      class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">About</a></p>
  <p><a routerLink="products"
      class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Products</a></p>

</mat-toolbar>



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Libre+Baskerville:wght@400;700&family=Pacifico&family=Playpen+Sans:wght@200&display=swap"
  rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<router-outlet></router-outlet>
<footer>
  <div>
    <p class="designer">
      Website created by Daniel Gilman | @2023 Washington Candles, Inc.
    </p>

  </div>

</footer>