.example-spacer {
    flex: 1 1 auto;
}

p {
    margin: 4px;
    margin-right: 50px;
}

.title {
    margin-left: 20px;
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Libre Baskerville', serif;
    
}
footer {
    bottom: 0;
    position: sticky;
    text-align: center;
    background-color: antiquewhite;
    border: 5px solid antiquewhite;
    width: 100%;
    margin-top: 15px;
  }
.designer{
    text-align: center;
    margin: auto;
}
