<h1>Candles</h1>
<mat-divider></mat-divider>

<div *ngFor="let product of productList" class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="{{product.imageUrl}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{product.itemName}}</h5>
                <button [routerLink]='["/product, product.id"]' type=“button”>View</button>

            </div>
            <div class="card-footer">
                <small class="text-body-secondary">${{product.price}}</small>

            </div>
        </div>
    </div>
   

  

</div>